<a href="https://colab.research.google.com/github/suganthialagumalai/suganthialagumalai/blob/main/PandasAssessment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###### Assessment

###### I am going to provide two .csv files , you are supposed to work on them and have to provide solutions to the following problems

###### import necessary libraries

In [2]:
import pandas as pd
import numpy as np

###### merge those two csv files (after getting as dataframes, get them as a single dataframe)

In [3]:
df = pd.concat(
    map(pd.read_csv, ['/content/college_1 (1).csv','/content/college_2.csv']), ignore_index=True)
print(df)

              Name  python  mysql  Previous Geekions  CodeKata Score  \
0        A.Dharani    82.0   20.0              24500           24500
1      V.JEEVITHA     82.0   20.0              21740           21740
2      HEMAVATHI.R   100.0  100.0              19680           19680
3      Mugunthan S   100.0   47.0              10610           10610
4      Sathammai.S   100.0    8.0               8980            8980
..             ...     ...    ...                ...             ...
114  praveen raj j    24.0    0.0               2380            2380
115     AMARNATH D    -1.0   12.0               1890            1890
116           bala    32.0    0.0               1720            1720
117           XY Z    -1.0   -1.0                  0               0
118      Hariharan    -1.0   -1.0                  0               0

                                    Department  Rising  python_en  \
0             Computer Science and Engineering       0        NaN
1             Computer Science and Engineering       0        NaN
2             Computer Science and Engineering       0        NaN
3             Computer Science and Engineering       0        NaN
4             Computer Science and Engineering       0        NaN
..                                         ...     ...        ...
114           Computer Science and Engineering       0       -1.0
115  Electronics and Communication Engineering       0       52.0
116  Electronics and Communication Engineering       0       49.0
117           Computer Science and Engineering       0       20.0
118           Computer Science and Engineering       0       -1.0

     computational_thinking
0                       NaN
1                       NaN
2                       NaN
3                       NaN
4                       NaN
..                      ...
114                     0.0
115                    -1.0
116                    -1.0
117                    -1.0
118                     0.0

[119 rows x 9 columns]

###### Take each csv file , split that csv file into multiple categories (example csv files are added in the repo)

###### consider if the codekata score exceeds 15000 points(present week) then make a csv on those observations as Exceeded expectations.csv

###### if  10000<codekata score<15000   (Reached_expectations.csv)

###### if  7000<codekata score<10000   (Needs_Improvement.csv)

###### if  codekate score < 7000        (Unsatisfactory.csv)

In [4]:
df1=pd.read_csv('/content/college_1 (1).csv')
df1

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising
0,A.Dharani,82.0,20.0,24500,24500,Computer Science and Engineering,0
1,V.JEEVITHA,82.0,20.0,21740,21740,Computer Science and Engineering,0
2,HEMAVATHI.R,100.0,100.0,19680,19680,Computer Science and Engineering,0
3,Mugunthan S,100.0,47.0,10610,10610,Computer Science and Engineering,0
4,Sathammai.S,100.0,8.0,8980,8980,Computer Science and Engineering,0
...,...,...,...,...,...,...,...
79,KarthikeyanS,45.0,0.0,0,0,Electronics and Electrical Engineering,0
80,BARATH.P,29.0,0.0,0,0,Electronics and Electrical Engineering,0
81,N.Ajith kumar,82.0,0.0,0,0,Electronics and Electrical Engineering,0
82,mohamed nabi,0.0,0.0,0,0,Electronics and Electrical Engineering,0
83,yaser ahamed.A,0.0,27.0,0,0,Electronics and Electrical Engineering,0

In [5]:
# Exceeded expectations.csv
df1=df[df["CodeKata Score"]>15000]
df1

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
0,A.Dharani,82.0,20.0,24500,24500,Computer Science and Engineering,0,NaN,NaN
1,V.JEEVITHA,82.0,20.0,21740,21740,Computer Science and Engineering,0,NaN,NaN
2,HEMAVATHI.R,100.0,100.0,19680,19680,Computer Science and Engineering,0,NaN,NaN
84,ASHOK KUMAR K,100.0,31.0,19400,19400,Electronics and Electrical Engineering,0,0.0,9.0

In [6]:
df1.to_csv('Exceeded_Expectations.csv')
df1

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
0,A.Dharani,82.0,20.0,24500,24500,Computer Science and Engineering,0,NaN,NaN
1,V.JEEVITHA,82.0,20.0,21740,21740,Computer Science and Engineering,0,NaN,NaN
2,HEMAVATHI.R,100.0,100.0,19680,19680,Computer Science and Engineering,0,NaN,NaN
84,ASHOK KUMAR K,100.0,31.0,19400,19400,Electronics and Electrical Engineering,0,0.0,9.0

In [7]:
#if 10000<codekata score<15000 (Reached_expectations.csv)

In [8]:
df2=df[(df['CodeKata Score']>10000) & (df['CodeKata Score'] < 15000)]
df2.to_csv('Reached_expectations.csv')
df2

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
3,Mugunthan S,100.0,47.0,10610,10610,Computer Science and Engineering,0,NaN,NaN
85,Chandru,0.0,0.0,14150,14490,Computer Science and Engineering,340,20.0,0.0
86,Ganesh Ramkumar R,-1.0,24.0,8790,10790,Computer Science and Engineering,2000,55.0,6.0
87,Bodipudi Harini,-1.0,35.0,10040,10040,Electronics and Communication Engineering,0,0.0,-1.0

In [9]:
#if 7000<codekata score<10000 (Needs_Improvement.csv)

df3=df[(df['CodeKata Score']>7000) & (df['CodeKata Score'] < 10000)]
df3.to_csv('Needs_Improvement.csv')
df3

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
4,Sathammai.S,100.0,8.0,8980,8980,Computer Science and Engineering,0,NaN,NaN
5,NIVEESHWAR S,100.0,0.0,8200,8200,Computer Science and Engineering,0,NaN,NaN
6,KALAIARASAN K,85.0,47.0,7750,7880,Electronics and Communication Engineering,130,NaN,NaN
7,MOHAMED ZUBAIR AHMED,82.0,4.0,7020,7020,Computer Science and Engineering,0,NaN,NaN
88,VIINU V P,-1.0,24.0,9150,9150,Electronics and Electrical Engineering,0,100.0,-1.0
89,Poojitha Y,0.0,35.0,7210,8970,Computer Science and Engineering,1760,78.0,0.0
90,Gowtham Chandrasekaran,-1.0,0.0,7250,8950,Computer Science and Engineering,1700,0.0,3.0
91,Gowtham R,-1.0,4.0,8650,8650,Electronics and Communication Engineering,0,60.0,6.0
92,shifak N,58.0,0.0,5180,8320,Electronics and Electrical Engineering,3140,0.0,0.0
93,Balaji,-1.0,20.0,6170,8160,Electronics and Electrical Engineering,1990,100.0,0.0
94,Rushitha,-1.0,62.0,7470,8090,Computer Science and Engineering,620,15.0,9.0
95,Balaraman Muthupandi,-1.0,0.0,7670,8050,Computer Science and Engineering,380,9.0,0.0
96,JPradhap,100.0,0.0,7340,8030,Electronics and Electrical Engineering,690,0.0,0.0
97,SRIRAMKUMAR B,-1.0,0.0,6400,7940,Computer Science and Engineering,1540,0.0,0.0
98,Praneetha,-1.0,100.0,7170,7730,Electronics and Communication Engineering,560,23.0,-1.0
99,Rahul Raj K,-1.0,0.0,6280,7640,Computer Science and Engineering,1360,0.0,0.0
100,Guhan S,-1.0,35.0,7310,7630,Electronics and Communication Engineering,320,72.0,39.0
101,Suryarajan S,-1.0,31.0,6710,7550,Computer Science and Engineering,840,63.0,0.0

In [10]:
#if codekate score < 7000 (Uns+atisfactory.csv)

df4=df[(df['CodeKata Score']<7000)]
df4.to_csv('Unsatisfactory.csv')
df4

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
8,J.SUGANTHI,27.0,50.00,5860,5860,Electronics and Communication Engineering,0,NaN,NaN
9,thamizhpaana,29.0,0.00,5500,5500,Computer Science and Engineering,0,NaN,NaN
10,Iyappan Samiraj,50.0,24.00,5400,5400,Electronics and Communication Engineering,0,NaN,NaN
11,Ponniyamma.R,100.0,11.25,5380,5380,Computer Science and Engineering,0,NaN,NaN
12,SABAPATHI,100.0,0.00,5280,5280,Computer Science and Engineering,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
114,praveen raj j,24.0,0.00,2380,2380,Computer Science and Engineering,0,-1.0,0.0
115,AMARNATH D,-1.0,12.00,1890,1890,Electronics and Communication Engineering,0,52.0,-1.0
116,bala,32.0,0.00,1720,1720,Electronics and Communication Engineering,0,49.0,-1.0
117,XY Z,-1.0,-1.00,0,0,Computer Science and Engineering,0,20.0,-1.0
118,Hariharan,-1.0,-1.00,0,0,Computer Science and Engineering,0,-1.0,0.0

###### Average of previous week geekions vs this week geekions (i.e Previous Geekions vs CodeKata Score)

In [11]:
df5 = df["Previous Geekions"].mean()
df5

3842.3529411764707

In [12]:
df6 = df["CodeKata Score"].mean()
df6

4051.764705882353

In [13]:
df7=[df5,df6]
df7

[3842.3529411764707, 4051.764705882353]

###### No of students participated

In [14]:
df8=df['Name'].value_counts()
df8

A.Dharani            1
santhosh             1
Bodipudi Harini      1
Ganesh Ramkumar R    1
Chandru              1
                    ..
Barath D             1
tamilarasi           1
SOWMIYA.V            1
SarumathiR           1
Hariharan            1
Name: Name, Length: 119, dtype: int64

###### #Average completion of python course or my_sql or python english or computational thinking

In [15]:
#python course
df9 = df["python"].mean()
df9

54.35294117647059

In [16]:
#my_sql
df10 = df["mysql"].mean()
df10

23.5

In [17]:
#python english
df11 = df["python_en"].mean()
df11

29.65714285714286

In [18]:
#computational thinking
df12 = df["computational_thinking"].mean()
df12

2.2

###### rising star of the week (top 3 candidate who performed well in that particular week)

In [19]:
x=df.sort_values(by='Rising', ascending=False)
x

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
92,shifak N,58.0,0.0,5180,8320,Electronics and Electrical Engineering,3140,0.0,0.0
102,Narasimhan Y L,-1.0,0.0,4800,6800,Computer Science and Engineering,2000,-1.0,0.0
86,Ganesh Ramkumar R,-1.0,24.0,8790,10790,Computer Science and Engineering,2000,55.0,6.0
93,Balaji,-1.0,20.0,6170,8160,Electronics and Electrical Engineering,1990,100.0,0.0
106,santhoshini,-1.0,0.0,3910,5740,Computer Science and Engineering,1830,43.0,0.0
...,...,...,...,...,...,...,...,...,...
36,selvakumar,100.0,0.0,1900,1900,Computer Science and Engineering,0,NaN,NaN
35,Barath D,74.0,4.0,1910,1910,Electronics and Communication Engineering,0,NaN,NaN
34,tamilarasi,100.0,100.0,1910,1910,Computer Science and Engineering,0,NaN,NaN
33,SOWMIYA.V,85.0,0.0,2160,2160,Computer Science and Engineering,0,NaN,NaN
118,Hariharan,-1.0,-1.0,0,0,Computer Science and Engineering,0,-1.0,0.0

In [20]:
y=x.head(3)
y[["Rising"]]

     Rising
92     3140
102    2000
86     2000

###### Shining stars of the week (top 3 candidates who has highest geekions)

In [21]:
x=df.sort_values(by='Previous Geekions', ascending=False)
x

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
0,A.Dharani,82.0,20.0,24500,24500,Computer Science and Engineering,0,NaN,NaN
1,V.JEEVITHA,82.0,20.0,21740,21740,Computer Science and Engineering,0,NaN,NaN
2,HEMAVATHI.R,100.0,100.0,19680,19680,Computer Science and Engineering,0,NaN,NaN
84,ASHOK KUMAR K,100.0,31.0,19400,19400,Electronics and Electrical Engineering,0,0.0,9.0
85,Chandru,0.0,0.0,14150,14490,Computer Science and Engineering,340,20.0,0.0
...,...,...,...,...,...,...,...,...,...
82,mohamed nabi,0.0,0.0,0,0,Electronics and Electrical Engineering,0,NaN,NaN
79,KarthikeyanS,45.0,0.0,0,0,Electronics and Electrical Engineering,0,NaN,NaN
80,BARATH.P,29.0,0.0,0,0,Electronics and Electrical Engineering,0,NaN,NaN
81,N.Ajith kumar,82.0,0.0,0,0,Electronics and Electrical Engineering,0,NaN,NaN
118,Hariharan,-1.0,-1.0,0,0,Computer Science and Engineering,0,-1.0,0.0

In [22]:
z=x.head(3)
z[["Previous Geekions"]]

   Previous Geekions
0              24500
1              21740
2              19680

###### Department wise codekata performence (pie chart)

In [30]:
import plotly.express as px

In [32]:
fig = px.pie(df,values ="CodeKata Score",names="Department")
fig.show()

###### Department wise toppers (horizantal bar graph or any visual representations of your choice)

In [34]:
x=df.sort_values(by='Department','CodeKata Score', ascending=False)
x

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
77,J.JAYANTHI,100.0,100.0,40,40,Electronics and Electrical Engineering,0,NaN,NaN
81,N.Ajith kumar,82.0,0.0,0,0,Electronics and Electrical Engineering,0,NaN,NaN
78,vikneshwaran,100.0,4.0,40,40,Electronics and Electrical Engineering,0,NaN,NaN
96,JPradhap,100.0,0.0,7340,8030,Electronics and Electrical Engineering,690,0.0,0.0
88,VIINU V P,-1.0,24.0,9150,9150,Electronics and Electrical Engineering,0,100.0,-1.0
...,...,...,...,...,...,...,...,...,...
37,nivedha.s,100.0,77.0,1880,1880,Computer Science and Engineering,0,NaN,NaN
36,selvakumar,100.0,0.0,1900,1900,Computer Science and Engineering,0,NaN,NaN
34,tamilarasi,100.0,100.0,1910,1910,Computer Science and Engineering,0,NaN,NaN
33,SOWMIYA.V,85.0,0.0,2160,2160,Computer Science and Engineering,0,NaN,NaN
118,Hariharan,-1.0,-1.0,0,0,Computer Science and Engineering,0,-1.0,0.0

In [43]:
fig = px.histogram(df,x="CodeKata Score",color="Department")
fig.show()